/* código para notebooks*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Oswald", sans-serif;
}

.container {
    width: 100vw;
    height: 100vh;
    display: flex;
}

.container-rigth {
    display: inline-block;
    background-color: rgba(93, 93, 125, 0.16);
    height: 100vh;
    width: 40%;
}

.container-left {
    width: 60%;
    display: inline-block;
    padding-left: 4em;
    margin-top: 14%;
}

h1 {
    color: #5D5D7D;
    font-weight: 400;
    font-size: 3em;
    line-height: 1.20em;
    width: 6em;
    margin-bottom: 0.5em;
    
}

img {
    position: relative;
    right: 7.55em;
    top: 7em;
    height: 30em;
    width: 25em;
}

p {
    color: #5D5D7D;
    font-size: 1.60em;
    line-height: 1.50em;
    width: 18em;
    margin-bottom: 0.90em;
    left: 2em;
    opacity: 0.6;
}

header {
    display: flex;
    justify-content: space-evenly;
    margin-top: 1.5em;
    font-size: 1.5em;
}

a {
    color: #5D5D7D;
    text-decoration: none;
}

a:hover {
    opacity: 40%;
}

a:nth-child(2) {
    opacity: 40%;
}

button {
    color: #9499EA;
    width: 15.62em;
    height: 3.43em;
    filter: drop-shadow(0px, 10px, 24px, rgba(148, 153, 234, 9.8%));
    background-color: #5D5D7D;
    border-radius: 1.87em;
    color: #fff;
    font-weight: 400;
    font-size: 0.93em;
    line-height: 100%;
    border: none;
    cursor: pointer;

}

button:hover {
    opacity: 0.8;
    transition: 0.3s ease-in-out;
}

/* código para mobile*/


@media (max-width:1037px) {
    .container {
        display: block;
    }

    .container-rigth {
        display: block;
        width: 100%;
        position: static;
    }

    .container-left {
        display: block;
        padding-left: 0;
        margin: 0 auto;
        text-align: center;
        justify-items: center;
    }

    img {
        height: 22em;
        width: 17em;
        right: 0;
        display: block;
        margin: 0 auto;
        top: 2em;
    


    }

    header {
        display: none;
    }

    p {
        width: 15em;
        position: relative;
        left: 0.5em;
        line-height: 1.5em;
        height: 6em;
        opacity: 60%;
        font-size: 1em;
        text-align: center;
        margin-bottom: 1em;

    }

    h1 {
        font-size: 2.25em;
        line-height: 1.5em;
        color: #5D5D7D;
        font-weight: 400;
        height: 3em;
        text-align: center;
        justify-items: center;
        margin: 1em 0.6em
    }

    button {
        margin-top: 4em;
        margin-bottom: 1em;
    
        left: 1em;
        
    }

}
